body{
  background-color: #393E46;
  font-family: monospace;
}

.logo {
  
  width: 324px;
  padding: 24px 0 0 10px;
  background: url(./images/background.jpg);
  margin-left: 20px;
  
}

.logo a {
  color: #EEEEEE;
  font-size: 50px;
  font-weight: normal;
  height: 130px;
  /* line-height: 130px; */
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 270px;
  display: block;
}

header {
  display: flex;
  width: 100%;
  font-family: 'Encode Sans SC', sans-serif;
  flex-direction: row;
  background-color: #232931;
  height: 100px;
  align-items: center;
  margin-bottom: 30px;
}

nav > a {
  margin: 2% 1% 3%;
  height: 30px;
  width: 15%;
  color: #4ECCA3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  border-radius: 15%;
  background: transparent;
  padding: 0 15px;
  text-align: center;
  background-color: #393E46;
  text-decoration: none;
  line-height: 30px;
  text-transform: uppercase;
}



nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 2%;
  align-items: center;
  margin-top: 20px;
}

h2{
  color: #4ECCA3;
  font-size: 30px;
  text-transform: uppercase;
}

p{
  color: #EEEEEE;
  font-size: 20px;
}
.container{

  display: flex;
  flex-direction: column;
  justify-self: baseline;
  padding: 20px 20px 20px 20px;
  padding-top: 30px;
  margin:auto
  
}

.our-story{
  
  text-align: center;
  font-size: 30px;
  background-image: linear-gradient(#4ECCA3, #232931);
  color: #EEEEEE;
}

#footer{
  background-color: #4ECCA3;
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.connect{
  float: right;
  
}

a{
  text-decoration: none;
  color: #EEEEEE;
}

@media only screen and (max-width: 576px) {
  .logo {
  
    width: 324px;
    padding: 24px 0 0 10px;
    background: url(./images/background.jpg);
    margin-left: 20px;
    
  }
  
  .logo a {
    color: #EEEEEE;
    font-size: 50px;
    font-weight: normal;
    height: 130px;
    /* line-height: 130px; */
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 270px;
    display: block;
  }
  
  header {
    display: flex;
    width: 100%;
    font-family: 'Encode Sans SC', sans-serif;
    flex-direction: column;
    background-color: #232931;
    height: 100px;
    justify-content: flex-end;
    overflow: visible;
    padding-top:200px;
    margin: auto;
  }
  
  nav > a {
    margin: 2% 1% 3%;
    height: 30px;
    width: 15%;
    color: #4ECCA3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 15%;
    background: transparent;
    padding: 0 15px;
    text-align: center;
    background-color: #393E46;
    text-decoration: none;
    line-height: 30px;
    text-transform: uppercase;
  }
  
  
  
  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 2%;
    padding-left: 2%;
    align-items: center;
    margin-top: 20px;
  }
}